

<!-- Nav tabs -->
<%= link_to 'Download Text', evaluation_path(@discussion, format: 'text'), class: "btn btn-success pull-right" %>
<%= link_to 'Download PDF', evaluation_path(@discussion, format: 'pdf'), class: "btn btn-success pull-right", style: "margin-right: 5px" %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#overview" data-toggle="tab">Übersicht</a></li>
  <li><a href="#summary" data-toggle="tab">Zusammenfassung</a></li>
  <li><a href="#probands" data-toggle="tab">Probanden</a></li>
  <li><a href="#script" data-toggle="tab">Transkript</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane fade active" id="overview">

  </div>

  <div class="tab-pane fade" id="summary">
    <%= form_for(@discussion, html: { multipart: true, role: "form"  }) do |f| %>

      <div class="form-group">
        <%= f.label "Zusammenfassung", class: "control-label" %>
          <%= f.text_area(:summary, class: "form-control", rows: 20) %>
      </div>

      <div class="form-group">
        <%= f.submit "Zusammenfassung speichern", class: "btn btn-large btn-primary"%>
      </div>

    <% end %>
  </div>

  <div class="tab-pane fade in" id="script">
    <% @discussion.questions.each do | question | %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= question.id %>">
                <%= question.topic %>
              </a>
            </h4>
          </div>
            <div id="collapse_<%= question.id %>" class="panel-collapse collapse in">
                <ul class="list-group">
                  <%= render question.arguments.includes(:user) %>
                </ul>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="probands">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Alter</th>
        <th>Geschlecht</th>
        <th>Postleitzahl</th>
        <th>Persönlichkeit</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="probands">

      <% @discussion.discussions_users.each do |proband| %>
        <tr>
          <td><%= proband.name %></td>
          <td><%= proband.user.age %></td>
          <td><%= proband.user.gender %></td>
          <td><%= proband.user.zipcode %></td>
          <td><%= render partial: 'shared/charts/user', locals: { chart_id: "proband-#{proband.user.id}", data: proband.user.survey.scale_values, fmt: 'mini' } if proband.user.has_survey? %></td>
          <td><%= link_to 'Details', proband.user, class: "btn btn-xs btn-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>