
<div class="col-xs-2" >

    <%= form_for(@question) do |f| %>
      <%= render partial: "shared/error_messages", locals: { resource: @question } %>

      <div class="form-group">
        <%= f.label :topic, "Frage" %><br>
        <%= f.text_field :topic, class: "form-control", placeholder: "Frage" %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>
