<h1>Alle Diskussionsthemen</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Frage</th>
      <th>Gruppen Diskussion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.topic %></td>
        <td><%= question.discription %></td>
        <td><%= question.group_discussion_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
