<% title 'Profil' %>

<% if current_user.is_proband? %>
  <div class="panel panel-success">
    <div class="panel-body">
      <h2>Und Jetzt?</h2>
      <p>Jetzt heißt es nur noch warten. Nachdem Sie die Registrierung nun erfolgreich abgeschlossen haben, werden wir Sie auf Basis der von Ihnen eingegebenen Daten zu ausgewählten Diskussionsrunden einladen. Damit Sie keine Diskussion verpassen werden wir sie über Einladungen per Email informiert. Für jede Diskussion an der Sie erfolgreich teilgenommen haben erhalten sie eine Aufwandsentschädigung in Höhe von 10 Euro.</p>
    </div>
  </div>
<% end %>

<% unless AdditionalUserField.new_fields_for(current_user).empty? %>

  <div class="panel panel-success">
    <div class="panel-body">
      <h2>Vervollständigen Sie Ihr Profil </h2>
      <p>Um Sie so oft wie möglich zu Diskussionen einladen zu können stellen wir Ihnen regelmäßig fragen. Diese Frage entstehen zusammen mit unseren Auftraggebern. Durch die beantwortung können Sie Ihre Chance eingeladen zu werden signifikant erhöhen. </p>
      <%= link_to 'Profil Vervollständigen', "/users/#{current_user.id}/additional_informations", class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#discussions" data-toggle="tab">Diskussionen</a></li>
  <li><a href="#settings" data-toggle="tab">Einstellungen</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="discussions">
    <h2>Meine Diskussionen</h2>
    <% if @discussions_users || @discussions %>
      <div class="discussions_list">
        <% if current_user.is_admin? %>
          <%= render partial: 'discussions/list_discussions', locals: { discussions: @discussions } %>
        <% else %>
          <%= render partial: 'discussions_users/list_discussions', locals: { discussions_users: @discussions_users } %>
        <% end %>
      </div>
      <br>
    <% end %>
    <% if can? :create, Discussion %>
      <%= link_to 'Neue Diskussion anfragen', new_discussion_path, class: "btn btn-xs btn-primary" %>
    <% end %>
    <% if can? :invite, User %>
      <%= link_to 'Nutzer einladen', '/users/invitation/new', class: "btn btn-xs btn-primary" %>
    <% end %>
  </div>

  <div class="tab-pane fade" id="settings">
    <%= form_for(current_user, :html => { :multipart => true, class: "form-horizontal", role: "form" }) do |f| %>

      <%= render partial: 'shared/error_messages', locals: { resource: current_user } %>

      <%= render 'users/form' %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  $(document).ready(register_paginations);
<% end %>