<h1>Kontaktieren Sie uns!</h1>

<%= form_tag('/contact_us/send_mail', html: { multipart: true, role: "form"  }) do %>
  <div class="form-group">
    <%= label_tag(:sender_name, "Ihr Name") %>
    <%= text_field_tag(:sender_name, "", class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:sender_email, "Ihre Email Adresse") %>
    <%= email_field(:sender_email, "", class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:content, "Ihre Nachricht an uns" ) %>
    <%= text_area_tag(:content, "", class: "form-control", rows: 10) %>
  </div>

  <%= submit_tag("Email senden", class:"btn btn-default") %>
<% end %>