<div id="home">
    <div class="teaser center-block">

      <div class="our-service-teaser">
        <%= image_tag(image_url("home/our_service.jpg")) %>

        <div class="teaser-description">
          <h1>Gruppendiskussionen mit<br> Persönlichkeit</h1>
          <h2>Unser Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
        </div>
      </div>



      <div class="research-institutes-teaser">
        <%= image_tag(image_url("home/research_institute.jpg")) %>

        <div class="teaser-description">
          <h1>Gruppendiskussionen mit<br> Persönlichkeit</h1>
          <h2>Unser Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
        </div>
      </div>

      <div class="probands-teaser">
        <%= image_tag(image_url("home/proband.jpg")) %>

        <div class="teaser-description">
          <h1>Gruppendiskussionen mit<br> Persönlichkeit</h1>
          <h2>Unser Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
        </div>
      </div>



      <div class="companies-teaser">
        <%= image_tag(image_url("home/company.jpg")) %>

        <div class="teaser-description">
          <h1>Gruppendiskussionen mit<br> Persönlichkeit</h1>
          <h2>Unser Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
        </div>
      </div>
    </div>

    <%= image_tag(image_url("home/arrow_a.png"), class: "separate-arrow our-service-teaser center-block") %>
    <%= image_tag(image_url("home/arrow_b.png"), class: "separate-arrow center-block research-institutes-teaser") %>
    <%= image_tag(image_url("home/arrow_c.png"), class: "separate-arrow center-block probands-teaser") %>
    <%= image_tag(image_url("home/arrow_d.png"), class: "separate-arrow center-block companies-teaser") %>

    <div class="prev-images center-block">
      
      <%= image_tag(image_url("home/our_service.jpg"), data: { "id" => "our-service-teaser" }) %>
      <%= image_tag(image_url("home/research_institute.jpg"), data: { "id" => "research-institutes-teaser" }) %>
      <%= image_tag(image_url("home/proband.jpg"), data: { "id" => "probands-teaser" }) %>
      <%= image_tag(image_url("home/company.jpg"), data: { "id" => "companies-teaser" }) %>
    </div>

</div>