<div id="home">
  <div class="teaser">
    <div id="teaser-container" style="display: none" class="center-block">

      <div class="underlay"><div id="nav-left"></div></div>

      <%= render partial: 'our_service' %>

      <%= render partial: 'research_institutes' %>

      <%= render partial: 'probands' %>

      <%= render partial: 'companies' %>

      <%= render partial: 'moderators' %>


      <div class="underlay"><div id="nav-right"></div></div>

    </div>
    <div id="separation-arrow-container" style="display: none" class="center-block">
      <%= image_tag("home/arrow_a.jpg", class: "separate-arrow our-service-teaser center-block") %>
      <%= image_tag("home/arrow_b.jpg", class: "separate-arrow center-block research-institutes-teaser") %>
      <%= image_tag("home/arrow_c.jpg", class: "separate-arrow center-block probands-teaser") %>
      <%= image_tag("home/arrow_d.jpg", class: "separate-arrow center-block companies-teaser") %>
      <%= image_tag("home/arrow_e.jpg", class: "separate-arrow center-block moderators-teaser") %>
    </div>
  </div>

  <div class="prev-images center-block">
    <div>
      <div class="our-service-prev prev-image">
        <div id="image-overlay" data-id="our-service-teaser"></div>
      </div>
      <p>Unser Service</p>
    </div>
    <div>
      <div class="research-institute-prev prev-image">
        <div id="image-overlay" data-id="research-institutes-teaser"></div>
      </div>
      <p>Marktforschungs-<br>institute</p>
    </div>
    <div>
      <div class="proband-prev prev-image">
        <div id="image-overlay" data-id="probands-teaser"></div>
      </div>
      <p>Probanden</p>
    </div>
    <div>
      <div class="company-prev prev-image">
        <div id="image-overlay" data-id="companies-teaser"></div>
      </div>
      <p>Unternehmen</p>
    </div>
    <div>
      <div class="moderator-prev prev-image">
        <div id="image-overlay" data-id="moderators-teaser"></div>
      </div>
      <p>Moderatoren</p>
    </div>
  </div>
</div>
<script>
  $(document).ready(initHome);
</script>