<h1>Anmelden</h1>
<p id="notice"><%= notice %></p>
<p id="error"><%= flash[:error] %></p>


<%= form_for(:session, url: sessions_path, html: { multipart: true, class: "form-horizontal", role: "form"  }) do |f| %>

	<div class="form-group">
		<%= f.label :email, "Email", class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.text_field :email, class: "form-control", placeholder: "Email-Adresse" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :password, "Passwort", class: "col-sm-2 control-label" %>			
		<div class="col-sm-10">
			<%= f.password_field :password, class: "form-control", placeholder: "Passwort" %>
		</div>
	</div>
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Anmelden", class: "btn btn-large btn-primary" %>		
			<p>Noch nicht Registriert? <%= link_to "Registrieren", signup_path %> </p>
		</div>
	</div>
<% end %>
