<h2>Bestätigungs Email erneut senden </h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: "form-inline" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
  </div>

  <%= f.submit "erneut senden", class: "btn btn-large btn-primary" %>

<% end %>

<%= render "devise/shared/links" %>


