<h2>Bearbeiten <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Noch nicht bestätigt: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(frei lassen falls Sie es nicht ändern wollen)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(Wir brauchen Ihr aktuelles Passwort um die Änderungen zu bestätigen)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Anmeldung Abrechen</h3>

<p>Unzufrieden? <%= button_to "Anmeldung Abrechen", registration_path(resource_name), :data => { :confirm => "Sind Sie sicher?" }, :method => :delete %></p>

<%= link_to "Zurück", :back %>
