<%= form_for(@discussion, html: { multipart: true, class: "form-horizontal", role: "form"  }) do |f| %>

  <%= render partial: "shared/error_messages", locals: { resource: @discussion } %>

  <% if @discussion.customer %>
    <div class="form-group">
      <%= f.label :Auftraggeber, class: "col-sm-2 control-label" %>
      <div class="col-sm-10 customer-name">
        <%= link_to @discussion.customer.full_name(), current_user %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :topic, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :topic, class: "form-control" %>
    </div>
  </div>
  <% if current_user.is_admin? %>
    <div class="form-group">
      <%= f.label :moderator, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select :moderator, @moderators, :id, :full_name, {include_blank: true}, {class: "form-control"} %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :due_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="form-control datepicker-old">
        <%= f.datetime_select  :due_date, :value => (@discussion.due_date.blank? ? '' : @discussion.due_date.strftime('%d-%m-%Y-%H-%M'))%>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-large btn-primary"%>
    </div>
  </div>
<% end %>

