<h1>Editing discussion</h1>


<%= render 'form' %>

<h2>Teilnehmer</h2>

<%= form_for(@proband, html: { multipart: true, class: "form-horizontal probands", role: "form", remote: true  }) do |f| %>
	<div class="row">
    <div class="col-lg-6">
      <div class="input-group">
          <%= f.collection_select(:user_id, @users, :id, :full_name, {}, {class: "form-control"}) %>
          <span class="input-group-btn">
            <%= f.submit "hinzufügen", class: "btn btn-default"%>
        </span>
        <%= f.hidden_field :discussion_id, value: @discussion.id %>
        <%= f.hidden_field :role_id, value: @proband_role.id %>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="probands">

    <% @probands.each do |proband| %>
      <tr>
        <td><%= proband.user.firstname %></td>
        <td><%= proband.user.lastname %></td>
        <td><%= proband.user.email %></td>
        <td><%= link_to 'Löschen', DiscussionsUser.where(user: proband, discussion: @discussion).first, method: :delete, remote: true, class: "btn btn-xs btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Beobachter</h2>

<%= form_for(@proband, html: { multipart: true, class: "form-horizontal observers", role: "form", remote: true  }) do |f| %>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <%= f.collection_select(:user_id, @users, :id, :full_name, {}, {class: "form-control"}) %>
          <span class="input-group-btn">
            <%= f.submit "hinzufügen", class: "btn btn-default"%>
        </span>
          <%= f.hidden_field :discussion_id, value: @discussion.id %>
          <%= f.hidden_field :role_id, value: @observer_role.id %>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>

  <tbody id="observers">

  <% @observers.each do |proband| %>
      <tr>
        <td><%= proband.user.firstname %></td>
        <td><%= proband.user.lastname %></td>
        <td><%= proband.user.email %></td>
        <td><%= link_to 'Löschen', DiscussionsUser.where(user: proband, discussion: @discussion).first, method: :delete, remote: true, class: "btn btn-xs btn-primary" %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Back', users_path(current_user) %>
