<h1>Editing discussion</h1>


<%= render 'form' %>

<h2>Teilnehmer</h2>

<%= form_for(@proband, html: { multipart: true, class: "form-horizontal", role: "form", remote: true  }) do |f| %>
	<div class="row">
    <div class="col-lg-6">
      <div class="input-group">
          <%= f.collection_select(:user_id, @users, :id, :full_name, {}, {class: "form-control"}) %>
          <span class="input-group-btn">
            <%= f.submit "hinzufügen", class: "btn btn-default"%>
        </span>
        <%= f.hidden_field :discussion_id, value: @discussion.id %>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Email</th>

    </tr>
  </thead>

  <tbody id="probands">

    <% @discussion.users.each do |proband| %>
      <tr>
        <td><%= proband.firstname %></td>
        <td><%= proband.lastname %></td>
        <td><%= proband.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', discussions_path %>
