<h1>Diskussion bearbeiten</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general_informations" data-toggle="tab">Allgemeine Informationen</a></li>
  <li><a href="#users" data-toggle="tab">Teilnehmer</a></li>
  <li><a href="#visual_aids" data-toggle="tab">Anschauungsmaterial</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="general_informations">
    <%= render 'form' %>
  </div>

  <div class="tab-pane fade" id="users">
    <h2>Teilnehmer</h2>

    <%= form_for(@proband, html: { multipart: true, class: "form-horizontal probands", role: "form", remote: true  }) do |f| %>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
              <%= f.collection_select(:user_id, @users, :id, :full_name, {}, {class: "form-control"}) %>
              <span class="input-group-btn">
                <%= f.submit "hinzufügen", class: "btn btn-default"%>
            </span>
            <%= f.hidden_field :discussion_id, value: @discussion.id %>
            <%= f.hidden_field :role_id, value: @proband_role.id %>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="probands">

        <% @probands.each do |proband| %>
          <tr>
            <td><%= proband.user.firstname %></td>
            <td><%= proband.user.lastname %></td>
            <td><%= proband.user.email %></td>
            <td><%= link_to 'Löschen', discussions_users_path+'/'+proband.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>Beobachter</h2>

    <%= form_for(@proband, html: { multipart: true, class: "form-horizontal observers", role: "form", remote: true  }) do |f| %>
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <%= f.collection_select(:user_id, @users, :id, :full_name, {}, {class: "form-control"}) %>
              <span class="input-group-btn">
                <%= f.submit "hinzufügen", class: "btn btn-default"%>
            </span>
              <%= f.hidden_field :discussion_id, value: @discussion.id %>
              <%= f.hidden_field :role_id, value: @observer_role.id %>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    <% end %>

    <table class="table">
      <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="observers">

      <% @observers.each do |observer| %>
          <tr>
            <td><%= observer.user.firstname %></td>
            <td><%= observer.user.lastname %></td>
            <td><%= observer.user.email %></td>
            <td><%= link_to 'Löschen', discussions_users_path+'/'+observer.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="visual_aids">

    <h2>Anschauungsmaterial</h2>

    <span class="btn btn-success fileinput-button disabled">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Select files...</span>
      <input id="fileupload" type="file" name="files[]" multiple="">
      <input id="visual_aid_discussion_id" name="visual_aid[discussion_id]" type="hidden" value="<%= @discussion.id %>">
    </span>

    <div class="alert alert-danger hidden" id="not-supported-file" role="alert">Die der von Ihnen ausgewählte Dateityp wird nicht unterstützt. Bitte wählen sie eine Bilddatei.</div>

    <table class="table">
      <thead>
      <tr>
        <th>Vorschau</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="visual_aids_table">

      <% @discussion.visual_aids.each do | visual_aid | %>
        <tr>
          <td>
            <a href="#" class="thumbnail">
              <img src="<%= visual_aid.url %>" alt="<%= visual_aid.url.split('/').last() %>">
            </a>
          </td>
          <td>
            <%= visual_aid.url.split('/').last() %>
          </td>
          <td>
          <td><%= link_to 'Löschen', visual_aids_path+"/"+visual_aid.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary delete_file" %></td>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Zurück', users_path(current_user) %>


<%= javascript_tag do %>
  window.s3_form_data = <%= @s3_direct_post.fields.to_json.html_safe %>;
  window.s3_url = '<%= @s3_direct_post.url %>';
  window.s3_url_host = '<%= @s3_direct_post.url.host %>/';
  window.discussion_id = <%= @discussion.id %>;
  $(window).load(function(){ init_edit_discussion() });
<% end %>