<h1>Diskussion bearbeiten</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general_informations" data-toggle="tab">Allgemeine Informationen</a></li>
  <li><a href="#users" data-toggle="tab">Teilnehmer</a></li>
  <li><a href="#visual_aids" data-toggle="tab">Anschauungsmaterial</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="general_informations">
    <%= render 'form' %>
  </div>

  <div class="tab-pane fade" id="users">
    <h2>Teilnehmer</h2>

    <%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "proband" } %>

    <p>Laden Sie Probanden, die sich noch nicht registriert haben zu dieser Diskussion ein</p>

    <%= render partial: "discussions_users/invite", locals: { discussions_user: @proband, role: @proband_role.id, users: @users, discussion_id: @discussion.id } %>

    <p>Wählen Sie einen bereits von Ihnen eingeladenen Probanden aus</p>


    <%= render partial: "discussions_users/list", locals: { discussions_users: @probands, id: "probands", page_name: "probands_page" } %>


    <h2>Beobachter</h2>

    <%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "observer" } %>
    <p>Laden Sie Probanden, die sich noch nicht registriert haben zu dieser Diskussion ein</p>


    <%= render partial: "discussions_users/invite", locals: { discussions_user: @proband, role: @observer_role.id, users: @users, discussion_id:@discussion.id } %>

    <%= render partial: "discussions_users/list", locals: { discussions_users: @observers, id: "observers", page_name: "observers_page" } %>

  </div>


  <div class="tab-pane fade" id="visual_aids">

    <h2>Anschauungsmaterial</h2>

    <span class="btn btn-success fileinput-button disabled">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Select files...</span>
      <input id="fileupload" type="file" name="files[]" multiple="">
      <input id="visual_aid_discussion_id" name="visual_aid[discussion_id]" type="hidden" value="<%= @discussion.id %>">
    </span>

    <div class="alert alert-danger hidden" id="not-supported-file" role="alert">Die der von Ihnen ausgewählte Dateityp wird nicht unterstützt. Bitte wählen sie eine Bilddatei.</div>

    <table class="table">
      <thead>
      <tr>
        <th>Vorschau</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="visual_aids_table">

      <% @visual_aids.each do | visual_aid | %>
        <tr>
          <td>
            <a href="#" class="thumbnail">
              <img src="<%= visual_aid.url %>" alt="<%= visual_aid.url.split('/').last() %>">
            </a>
          </td>
          <td>
            <%= visual_aid.url.split('/').last() %>
          </td>
          <td>
          <td><%= link_to 'Löschen', visual_aids_path+"/"+visual_aid.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary delete_file" %></td>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @visual_aids, renderer: BootstrapPagination::Rails, param_name: "visual_aids_page" %>

<%= link_to 'Zurück', users_path(current_user) %>


<%= javascript_tag do %>
  window.s3_form_data = <%= @s3_direct_post.fields.to_json.html_safe %>;
  window.s3_url = '<%= @s3_direct_post.url %>';
  window.s3_url_host = '<%= @s3_direct_post.url.host %>/';
  window.discussion_id = <%= @discussion.id %>;
  $(window).load(function(){ init_edit_discussion() });
<% end %>