

<!-- Nav tabs -->
<a href="<%= discussion_path(@discussion) %>/evaluate.pdf"></a>
<ul class="nav nav-tabs">
  <li class="active"><a href="#script" data-toggle="tab">Verlauf</a></li>
  <li><a href="#probands" data-toggle="tab">Probanden</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="script">
    <% @discussion.questions.each do | question | %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= question.id %>">
                <%= question.topic %>
              </a>
            </h4>
          </div>
            <div id="collapse_<%= question.id %>" class="panel-collapse collapse in">
                <ul class="list-group">
                  <%= render question.arguments %> 
                </ul>  
            </div>
        </div>
      </div>
    <% end %>  
  </div> 

  <div class="tab-pane fade" id="probands">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="probands">

      <% @discussion.users.each do |proband| %>
        <tr>
          <td><%= proband.firstname %></td>
          <td><%= proband.lastname %></td>
          <td><%= proband.email %></td>
          <td><%= link_to 'Details', proband, class: "btn btn-xs btn-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>