<h1>Meine Diskussionen</h1>

<table>
  <thead>
    <tr>
      <th>Thema</th>
      <th>Moderator</th>
      <th>Datum</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= discussion.topic %></td>
        
        
        <td><%= discussion.due_date %></td>
        <td><%= link_to 'Diskussion beitreten', discussion %></td>
        <td><%= link_to 'Bearbeiten', edit_discussion_path(discussion) %></td>
        <td><%= link_to 'Löschen', discussion, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'neue Diskussion erstellen', new_discussion_path %>
