<p>Sehr geehrter Herr <%= @discussions_user.user.lastname %>,</p>
<br>
<p>
  Sie wurden eingeladen um an einer Gruppendiskussion zum Thema "<%= @discussions_user.discussion.topic %>" teilzunehmen.
  Die Diskussion findet am <%= l @discussions_user.discussion.due_date %> statt. Bitte melden sie sich unter:
  <%= link_to("Group Discussion Services", user_url(@discussions_user.user)) %> an, um Ihre Teilnahme an der Diskussion zu bestätigen.
</p>
<%= render partial: 'footer' %>