<%= nested_form_for(@research_institute, html: { multipart: true , class: 'form-horizontal' }) do |f| %>
  <%= render partial: "shared/error_messages", locals: { resource: @research_institute } %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>
    </div>
  </div>

  <%= f.fields_for :contact, @research_institute.contact  do |task_form| %>
    <%= render partial: 'contacts/fields', locals: { f: task_form } %>
  <% end %>


  <h3>Moderator</h3>
  <%= f.fields_for :deputy, @research_institute.deputy do | deputy | %>
    <%= render partial: 'users/fields', locals: { user: deputy } %>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Anmelden", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
