<h1>Listing research_institutes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @research_institutes.each do |research_institute| %>
      <tr>
        <td><%= research_institute.name %></td>
        <td><%= link_to 'Show', research_institute %></td>
        <td><%= link_to 'Edit', edit_research_institute_path(research_institute) %></td>
        <td><%= link_to 'Destroy', research_institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research institute', new_research_institute_path %>
