<%= form_for(@user, :html => { :multipart => true }) do |f| %>
	
	<%= render 'shared/error_messages' %>

 	<div class="field">
		<%= f.label :firstname, "Vorname" %><br>
		<%= f.text_field :firstname %>
	</div>
	<div class="field">
		<%= f.label :lastname, "Nachname" %><br>
		<%= f.text_field :lastname %>
		</div>		
	<div class="field">
		<%= f.label :email, "Email" %><br>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password, "Passwort" %><br>			
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Passwort bestätigen" %><br>
		<%= f.password_field :password_confirmation %>
	</div>
		  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
