<h1>Registrierung</h1>

<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>

  <%= render partial: 'shared/error_messages', locals: { resource: @user } %>

  <%= render partial: 'users/fields', locals: { user: f } %>
	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.hidden_field :role_id, value: Role.customer.id %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit value: 'Weiter', class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>

oder: <%= link_to "Anmelden", new_user_session_path %>