<% title 'Profil' %>
<% if current_user.is_proband? %>
  <div class="panel panel-success">
    <div class="panel-body">
      <h2>Und Jetzt?</h2>
      <p>Jetzt heißt es nur noch warten. Nachdem Sie die Registrierung nun erfolgreich abgeschlossen haben, werden wir Sie auf Basis der von Ihnen eingegebenen Daten zu ausgewählten Diskussionsrunden einladen. Damit Sie keine Diskussion verpassen werden wir sie über Einladungen per Email informiert. Für jede Diskussion an der Sie erfolgreich teilgenommen haben erhalten sie eine Aufwandsentschädigung in Höhe von 10 Euro.</p>
    </div>
  </div>
<% end %>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#discussions" data-toggle="tab">Diskussionen</a></li>
  <% if can? :manage, Company %>
    <li><a href="#companies" data-toggle="tab">Kunden</a></li>
  <% end %>
  <li><a href="#settings" data-toggle="tab">Einstellungen</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="discussions">
    <h2>Meine Diskussionen</h2>
    <% if !@discussions_users.nil? %>
      <div class="discussions_list">
        <%= render partial: 'discussions_users/list_discussions', locals: { discussions_users: @discussions_users } %>
      </div>
      <br>
      <% if current_user.is_moderator? %>
        <%= link_to 'Neue Diskussion erstellen', new_discussion_path, class: "btn btn-xs btn-primary" %>

      <% end %>
    <% end %>
  </div>
  <% if can? :manage, Company %>
    <div class="tab-pane fade" id="companies">
      <h2>Kunden</h2>
      <div class="companies_list">
        <%= render partial: 'companies/list', locals: { companies: @companies } %>
      </div>
      <%= link_to 'Neuen Kunden anlegen', new_company_path, class: "btn btn-xs btn-primary" %>
    </div>
  <% end %>

  <div class="tab-pane fade" id="settings">
    <%= form_for(current_user, :html => { :multipart => true, class: "form-horizontal", role: "form" }) do |f| %>

      <%= render partial: 'shared/error_messages', locals: { resource: current_user } %>

      <%= render 'form' %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(register_paginations);
<% end %>