<p>
  <strong>Vorname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Nachnamme:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if !@discussions.nil? %>
  <h2>Meine Diskussionen </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Thema</th>
        <th>Moderator</th>
        <th>Datum</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @discussions.each do |discussion| %>
        <tr>
          <td><%= discussion.topic %></td>
          <td><%= discussion.moderator.firstname %> <%= discussion.moderator.lastname %></td>
          <td><%= discussion.due_date %></td>
          <td><%= link_to 'Diskussion beitreten', discussion, class: "btn btn-xs btn-primary" %></td>
          <td><%= link_to 'Bearbeiten', edit_discussion_path(discussion), class: "btn btn-xs btn-primary" %></td>
          <td><%= link_to 'Löschen', discussion, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "btn btn-xs btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% if current_user.is_staff? %>
  	<%= link_to 'neue Diskussion erstellen', new_discussion_path, class: "btn btn-xs btn-primary" %>
    <%= link_to 'neuen Kunden anlegen', new_company_path, class: "btn btn-xs btn-primary" %>
  <% end %>
<% end %>