<p>
  <strong>Vorname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if !@discussions_users.nil? %>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#discussions" data-toggle="tab">Diskussionen</a></li>
  <% if can? :manage, Company %>
    <li><a href="#companies" data-toggle="tab">Kunden</a></li>
  <% end %>
  <li><a href="#settings" data-toggle="tab">Einstellungen</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="discussions">
      <h2>Meine Diskussionen</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Thema</th>
            <th>Moderator</th>
            <th>Datum</th>
            <th></th>
            <% if can? :edit, Discussion %><th></th><% end %>
            <% if can? :delete, Discussion %><th></th><% end %>
            <% if can? :evaluate, Discussion %><th></th><% end %>
          </tr>
        </thead>
        <tbody>
          <% @discussions_users.each do |discussions_user| %>
            <tr <% if discussions_user.confirmed %>class="bg-success"<% else %>class="bg-danger" <% end %>>
              <td><%= discussions_user.discussion.topic %></td>
              <td><%= discussions_user.discussion.moderator.firstname %> <%= discussions_user.discussion.moderator.lastname %></td>
              <td><%= l discussions_user.discussion.due_date %></td>
              <% if discussions_user.confirmed %><td><%= link_to 'Diskussion beitreten', discussions_user.discussion, class: "btn btn-xs btn-primary" %></td>
              <% else %>
                <td><%= link_to 'Zusagen', discussions_user, method: :confirm, class: "btn btn-xs btn-primary" %></td>
              <% end %>
              <% if can? :edit, discussions_user.discussion %><td><%= link_to 'Bearbeiten', edit_discussion_path(discussions_user.discussion), class: "btn btn-xs btn-primary" %></td><% end %>
              <% if can? :delete, discussions_user.discussion %><td><%= link_to 'Löschen', discussions_user.discussion, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "btn btn-xs btn-primary" %></td><% end %>
              <% if can? :evaluate, discussions_user.discussion %><td><%= link_to 'Evaluation', '/discussions/'+discussions_user.discussion.id.to_s+"/evaluate", class: "btn btn-xs btn-primary" %></td><% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <% if current_user.is_moderator? %>
        <%= link_to 'neue Diskussion erstellen', new_discussion_path, class: "btn btn-xs btn-primary" %>
       
      <% end %>
    <% end %>
  </div>

  <div class="tab-pane fade" id="companies">
    <h2>Kunden</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Straße</th>
            <th>Stadt</th>
            <th>E-Mail</th>
            <th>Telefon</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= company.name %></td>
              <td><%= company.contact.street %></td>
              <td><%= company.contact.postalcode %> <%= company.contact.town %></td>
              <td><%= company.contact.email %></td>
              <td><%= company.contact.telephone %></td>

              <td><%= link_to 'Bearbeiten', edit_company_path(company), class: "btn btn-xs btn-primary" %></td>
              <td><%= link_to 'Löschen', company, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: "btn btn-xs btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to 'neuen Kunden anlegen', new_company_path, class: "btn btn-xs btn-primary" %>
  </div>
  <div class="tab-pane fade" id="settings">
    <%= form_for(@user, :html => { :multipart => true, class: "form-horizontal", role: "form" }) do |f| %>
  
      <%= render 'shared/error_messages' %>

      <%= render 'form' %>
    <% end %>
  </div>
</div>