<div id="home">
    <div class="teaser center-block">

      <!--<div class="our-service-teaser">
        <%= image_tag(image_url("our_service.jpg")) %>

        <div class="teaser-description">
          <h1>Gruppendiskussionen mit<br> Persönlichkeit</h1>
          <h2>Unser Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
        </div>
      </div>-->

      <div class="our-service-teaser">
        <%= image_tag(image_url("our_service.jpg")) %>

        <div class="teaser-description">
          <h1>Moderation mit<br> Persönlichkeit</h1>
          <h2>Sie sind selbständiger Moderator?</h2>
          <p>Wir bieten Schulungen zum Zertifizierten Online Moderator an.<br>
          Fragen? Dann kontaktieren sie uns jetzt:</p>
          <%= link_to 'Kontakt', '/contact_us', class: "btn btn-primary" %>
        </div>
      </div>

      <div class="research-institutes-teaser">
        <%= image_tag(image_url("research_institute.jpg")) %>

        <div class="teaser-description">
          <h1>Gemeinsam in die Zukunft</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
          <%= link_to 'Jetzt registrieren', new_research_institute_path, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="probands-teaser">
        <%= image_tag(image_url("proband.jpg")) %>

        <div class="teaser-description">
          <h1>Ihre Meinung zählt</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
          <%= link_to 'Jetzt registrieren', new_user_path, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="companies-teaser">
        <%= image_tag(image_url("company.jpg")) %>

        <div class="teaser-description">
          <h1>Strategieplanung mit Fundament</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisl et felis viverra egestas. Nulla blandit massa sit amet sodales luctus. Pellentesque et augue sodales, maximus ligula vitae, </p>
          <%= link_to 'Mehr Informationen', '#', class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div id="separation-arrow-container">
        <%= image_tag(image_url("arrow_a.png"), class: "separate-arrow our-service-teaser center-block") %>
        <%= image_tag(image_url("arrow_b.png"), class: "separate-arrow center-block research-institutes-teaser") %>
        <%= image_tag(image_url("arrow_c.png"), class: "separate-arrow center-block probands-teaser") %>
        <%= image_tag(image_url("arrow_d.png"), class: "separate-arrow center-block companies-teaser") %>
    </div>

    <div class="prev-images center-block">
      <div>

        <p>MODERATOREN</p>
        <div class="our-service-prev prev-image">
          <div id="image-overlay" data-id="our-service-teaser"></div>
        </div>
      </div>
      <div>
        <p>MARKTFORSCHUNGSINSTITUTE</p>
        <div class="research-institute-prev prev-image">
          <div id="image-overlay" data-id="research-institutes-teaser"></div>
        </div>
      </div>
      <div>
        <p>PROBANDEN</p>
        <div class="proband-prev prev-image">
          <div id="image-overlay" data-id="probands-teaser"></div>
        </div>
      </div>
      <div>
        <p>UNTERNEHMEN</p>
        <div class="company-prev prev-image">
          <div id="image-overlay" data-id="companies-teaser"></div>
        </div>
      </div>


    </div>

</div>