<p>
  <strong>Street:</strong>
  <%= @contact.street %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @contact.postalcode %>
</p>

<p>
  <strong>Town:</strong>
  <%= @contact.town %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @contact.telephone %>
</p>

<%= link_to 'Edit', edit_kontakt_path(@kontakt) %> |
<%= link_to 'Back', kontakts_path %>
