<h2><%= t 'devise.invitations.edit.header' %></h2>

<%= form_for resource, :as => resource_name, id: "new_user", :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>
  <%= render partial: 'users/fields', locals: { user: f } %>

  <div class="form-group clearfix">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit value: 'Weiter', class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
