<table class="table">
  <thead>
  <tr>
    <th>Vorschau</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody id="visual_aids_table">

  <% visual_aids.each do | visual_aid | %>
    <tr>
      <td>
        <% if visual_aid.file_content_type.include? 'image' %>
          <%= image_tag visual_aid.file.url %>
        <% elsif visual_aid.file_content_type.include? 'video' %>
          <%= video_tag visual_aid.file.url, class: "mejs-player" %>
        <% end %>
      </td>
      <td>
        <%= visual_aid.file_file_name %>
      </td>
      <td>
      <td><%= link_to 'Löschen', visual_aids_path+"/"+visual_aid.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary delete_file" %></td>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<%= will_paginate visual_aids, renderer: BootstrapPagination::Rails, param_name: "visual_aids_page", params: { controller: 'discussions', action: :edit, id:visual_aids.first().discussion.id }  %>