<table class="table">
  <thead>
  <tr>
    <th>Vorschau</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody id="visual_aids_table">

  <% visual_aids.each do | visual_aid | %>
    <tr>
      <td>
        <a href="#" class="thumbnail">
          <img src="<%= visual_aid.url %>" alt="<%= visual_aid.url.split('/').last() %>">
        </a>
      </td>
      <td>
        <%= visual_aid.url.split('/').last() %>
      </td>
      <td>
      <td><%= link_to 'Löschen', visual_aids_path+"/"+visual_aid.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary delete_file" %></td>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<%= will_paginate visual_aids, renderer: BootstrapPagination::Rails, param_name: "visual_aids_page" %>