<p id="notice"><%= notice %></p>

<p>
  <strong>Argument:</strong>
  <%= @vote.argument_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<p>
  <strong>Is like:</strong>
  <%= @vote.is_like %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
