<!DOCTYPE html>
<html>
<head>
  <title>Group Discussion Services</title>
  <meta charset="UTF-8">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <!--[if IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="center-block">
  <header>
		<nav class="navbar navbar-default center-block" role="navigation">
  		<!-- Brand and toggle get grouped for better mobile display -->
      <%= link_to image_tag(image_url("logo.png")), root_path, class: "navbar-brand" %>
      
  		<!-- Collect the nav links, forms, and other content for toggling -->
  		<div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

          <% if signed_in? %>
            <li><%= link_to "Profil", current_user %></li>
            <li><%= link_to "Einstellungen", edit_user_path(current_user) %> </li>
            <li><%= link_to "Abmelden", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Anmelden", new_user_session_path %></li>
          <% end %>
        </ul>
  		</div><!-- /.navbar-collapse -->
		</nav>
	</header>

	<div class="content clearfix center-block ">
    <%= render 'layouts/messages' %>
		<%= yield %>
	</div>	

	
</body>
</html>

