<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>
  <div id="page-container">
    <header class="center-block">
      <nav role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><%= link_to "Profil", "/profile" %></li>
            <li><%= link_to "Abmelden", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Anmelden", new_user_session_path %></li>
          <% end %>
        </ul>
        <%= link_to image_tag("logo.png"), root_path, id:"logo" %>
        <%= link_to image_tag("slogan.png"), root_path, id:"slogan" %>
      </nav>
    </header>

    <div class="content clearfix center-block ">
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>

