<!DOCTYPE html>
<html>
<head>
  <title>Group Discussion Services</title>
  <meta charset="UTF-8">

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans' %>

  <%= csrf_meta_tags %>

  <!--[if IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
</head>
<body>
  <header class="center-block">
    <nav role="navigation">
      <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>

        <ul class="nav navbar-nav navbar-right">

          <% if signed_in? %>
            <li><%= link_to "Profil", "/profile" %></li>
            <li><%= link_to "Abmelden", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Anmelden", new_user_session_path %></li>
          <% end %>
        </ul>
    </nav>
  </header>

  <div class="content clearfix center-block ">
    <%= render 'layouts/messages' %>
		<%= yield %>
	</div>

  <footer>
    <%= link_to 'Impressum', '/imprint', class:'impress' %>
  </footer>

</body>
</html>

