<!DOCTYPE html>
<html>
<head>
  <title>Group Discussion Services</title>
  
<script src=" https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!--[if IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar-fixed-top">
		<nav class="navbar navbar-default" role="navigation">
  		<!-- Brand and toggle get grouped for better mobile display -->
      <%= link_to "GDS - Group Discussion Services", root_path, class: "navbar-brand" %>
  	  	
  		</div>
  		<!-- Collect the nav links, forms, and other content for toggling -->
  		<div class="collapse navbar-collapse">
        <ul class="nav pull-right">

          <% if signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Einstellungen", edit_user_path(current_user) %> </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Abmelden", signout_path, method: "delete" %>
                </li>
              </li>  
            <% else %>
              <li><%= link_to "Anmelden", signin_path %></li>
          <% end %>
        </ul>
  		</div><!-- /.navbar-collapse -->
		</nav>
	</header>

	<div class="content clearfix center-block ">
		<%= yield %>
	</div>	

	
</body>
</html>

