<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body class="pm-survey-body">
  <div class="clearfix">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
  <%= render 'layouts/late_assets' %>
  <%= javascript_tag do %><%= yield :javascript %><% end %>
</body>
</html>

